bin
obj
NuGet/lib/*
[Rr]elease*/
_ReSharper*/
*.ReSharper
*.ReSharper.user
*.suo
*.user
*.fs.bak
*.userprefs
*.fs.bak
*.nupkg
*.*~
:
nugetpackage/lib
build/deploy
packages

# Generated documentation
Docs/output/*
TestResults/FunScript.TE.Tests.mdf
TestResults/FunScript.TE.Tests_log.ldf
TestResult.xml
