<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSPowerPack.Core.Community" version="2.0.1.0" />
  <package id="FSPowerPack.Linq.Community" version="2.0.0.1" />
  <package id="FsUnit.xUnit" version="1.1.0.1" />
  <package id="xunit" version="1.9.1" />
  <package id="xunit.extensions" version="1.9.1" targetFramework="net45" />
</packages>