@import url(http://fonts.googleapis.com/css?family=News+Cycle:400);

body {
  font-family: 'News Cycle', sans-serif;
  padding-top: 0px;
  padding-bottom: 40px;
}
.masthead {
  overflow: hidden;
}
.masthead ul, .masthead li {
  margin-bottom:0px;
}
.masthead .nav li {
  margin-top: 10px;
}
.masthead h3 {
  margin-bottom:10px;
  font-size:150%;
}
hr {
  margin:0px 0px 0px 0px;
}

.jumbotron h1 {
  font-size:220%;
}
.jumbotron p {
  font-size:130%;
}

h2 {
  font-size:200%;
}

.well-small h2 {
  font-size:150%;
}

.countryList input {
  margin:-2px 10px 0px 20px;
}
.countryList label {
  margin-bottom:10px;
  font-size:130%;
}
#chart {
  width:600px; height:400px;margin:0px auto 50px auto; background:#fafafa;
}
